<ion-view title="Add Symbol" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button id="addSymbol-button2" class="button button-block button-positive" ng-click="">Buy</button>
            <button id="addSymbol-button3" class="button button-stable  button-block" ng-class="{'button-positive': !buyButton, 'button-stable': buyButton}" ng-click="toggleBuyButton()">Sell</button>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Symbol</span>
                <input type="text" placeholder="AAPL" ng-model="stock.symbol" ng-change="getSymbol()">
            </label>
            <div class="symbol-look-up" ng-class="{'symbol-look-up-open':symbolList}">
                <label ng-repeat="symbol in symbolLookup" class="item subItem colapseTransition" ng-click="closeSymbolList(); setSymbol(symbol.symbol)">
                    <span class="symbolHint">{{symbol.symbol}}:&nbsp;{{symbol.name}}</span>
                </label>
            </div>
            <label class="item item-input">
                <span class="input-label">Price</span>
                <!-- pattern="[0-9]+([\.,][0-9]+)?" step="0.01" -->
                <input type="number" placeholder="0" ng-model="stock.price" ng-change="calcTotal()">
            </label>
            <label class="item item-input" ng-show="!buyButton">
                <span class="input-label">Sell Price</span>
                <input type="number" placeholder="0" ng-model="stock.sellPrice" ng-change="calcTotal()">
            </label>
            <label class="item item-input" ng-show="!buyButton">
                <span class="input-label">Sell Date</span>
                <input type="date" placeholder="" ng-model="stock.sellDate" ng-change="">
            </label>
            <label class="item item-input">
                <span class="input-label">Quantity</span>
                <input type="number" placeholder="0" ng-model="stock.qty" ng-change="calcTotal()">
            </label>
            <div class="button-bar">
                <button id="addSymbol-button5" class="button button-positive  button-block" ng-click="setStockQty(10)">10</button>
                <button id="addSymbol-button8" class="button button-positive  button-block" ng-click="setStockQty(100)">100</button>
                <button id="addSymbol-button6" class="button button-positive  button-block" ng-click="setStockQty(1000)">1K</button>
                <button id="addSymbol-button7" class="button button-positive  button-block" ng-click="setStockQty(10000)">10K</button>
            </div>
            <label class="item item-input">
                <span class="input-label">Total</span>
                <input type="number" placeholder="0" ng-model="stock.total">
            </label>

            <h5>Buy Date: {{ stock.buyDate | date }}<span ng-show="{{stock.isSold}}"> | Sell Date: {{ stock.sellDate | date }}</span></h5>

            <a ng-click="createStock(stock)" ui-sref="tabsController.portfolio" id="addSymbol-button9" style="border-radius:6px 6px 6px 6px;" class="button button-balanced button-large button-block icon ion-archive">Save</a>
    </ion-content>
            
        </form>
        
</ion-view>