<ion-nav-bar>
</ion-nav-bar>
<ion-view cache-view="false" title="Portfolio" id="page2">

    <ion-nav-buttons side="primary">
        <button class="button button-icon" ng-click="toggleDeleteButton()">
            <i class="icon ion-ios-gear-outline" ng-class="{positive: showDeleteButton}"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon" ui-sref="tabsController.addSymbol">
            <i class="icon ion-ios-plus-outline"></i>
        </button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div ng-repeat="(stockId, stock) in stocks.data" class="">
            <div class="item item-body">
                
                <a class="item-icon-right item-assertive bezTransition" ng-click="deleteStock(stockId)" ng-show="showDeleteButton">
                    <i class="icon assertive ion-ios-minus moveRight"></i>
                </a>
            
                <div id="portfolio-markdown3" style="color:#000000;text-align:right;" ui-sref="tabsController.editSymbol({stockId:{{stockId}}})">

                    <div class="row">
                        <div class="col lightText bezTransition" ng-class="{'col-33': showDeleteButton, 'col-50': !showDeleteButton}">

                            <h2>{{stock.symbol}}</h2>
                            Price: <strong>{{stock.price | number:2}}</strong>
                            <!-- <br>
                            Qty:<strong>{{stock.qty}}</strong> -->
                            
                        </div>
                        <div class="col col-50">
                            <span class="bigText positive">${{stock.qty*stock.price | number:2}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="tabsController.addSymbol" id="portfolio-button1" class="button button-positive  button-block icon ion-ios-plus-outline">Add Symbol</a>
    </ion-content>
</ion-view>